header {
  height: 4rem;
  background-color: #017aff;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bars {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 2rem;
}

.bars p {
  font-size: 24px;
}

.profile {
  padding: 2rem;
  width: 12%;
  height: 100%;
  border-left: 1px solid #ffffff;
}

.profile:hover {
  background-color: #004a9933;
  transition: background-color 0.5s ease-in-out;
}

@media screen and (max-width: 1400px) {
  .bars p {
    font-size: 16px;
  }

  .profile {
    display: none;
  }
}
