.navbar {
  height: 100%;
  background-color: #ffffff;
  width: 5rem;
  display: flex;
  flex-direction: column;
  border-right: #eeeeee solid 2px;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.items a {
  font-size: 28px;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.items a:hover {
  background-color: #c1ceb4;
  color: white;
  border-radius: 100%;
}

.items ul {
  list-style-type: none;
  width: 100%;
}

.ativo a {
  background-color: #c1ceb4;
  color: white;
  border-radius: 100%;
}

.userMenu {
  display: none;
}

.userMenu a {
  font-size: 20px;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.userMenu a:hover {
  background-color: #c1ceb4;
  color: white;
  border-radius: 100%;
}

.profileMenu {
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  z-index: 10;
  border: #eeeeee solid 2px;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 6px;
  gap: 0.5rem;
  display: none;
  height: 5rem;
}

.profileMenu a {
  background-color: #017cff9f;
  border: none;
  padding: 3px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.profileMenu a:hover {
  background-color: #004c9c9f;
}

@media screen and (max-width: 1400px) {
  .items a {
    font-size: 20px;
    height: 2rem;
    width: 2rem;
  }
  .navbar {
    width: 3rem;
    display: flex;
    align-items: center;
  }

  .items ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .userMenu,
  .profileMenu {
    display: block;
    display: flex;
    flex-direction: column;
  }
}
